%section.page.users-edit-page
  %h2.page-title Resend confirmation instructions
  = form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, class: 'form resend-confirmation-form' }) do |f|
    = devise_error_messages!
    .form-element
      = f.label :email,           |
        class: "form-label bold", |
        for: "user_email"         |
      = f.email_field :email,                                                                    |
        autofocus: true,                                                                         |
        autocomplete: "email",                                                                   |
        value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), |
        class: "form-input",                                                                     |
        id: "user_email"                                                                         |
    .form-element
      = f.submit "Resend confirmation instructions", |
        class: "btn submit-btn btn-positive"         |
  = render "devise/shared/links"
