@import ./vars
  
.heading-margin-none
  margin: 0

.heading-margin-small
  margin-bottom: $margin-small

.heading-margin-medium
  margin-bottom: $margin-medium

.heading-margin-large
  margin-bottom: $margin-large