%section.page.users-edit-page
  %h2.page-title
    Edit #{resource_name.to_s.humanize}
  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'form registration-form' }) do |f|
    = devise_error_messages!
    .form-element
      = f.label :email,           |
        class: "form-label bold", |
        for: "user_email"         |
      = f.email_field :email,  |
        autofocus: true,       |
        autocomplete: "email", |
        class: "form-input",   |
        id: "user_email"       |
    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      %div
        Currently waiting confirmation for: #{resource.unconfirmed_email}
    .form-element
      = f.label :password,        |
        class: "form-label bold", |
        for: "user_new_password"  |
      = f.password_field :password, |
        autocomplete: "off",        |
        class: "form-input",        |
        id: "user_new_password"     |
    .form-element
      = f.label :password_confirmation,  |
        class: "form-label bold",        |
        id: "user_password_confirmation" |
      = f.password_field :password_confirmation, |
        autocomplete: "off",                     |
        class: "form-input",                     |
        id: "user_password_confirmation"         |
    .form-element
      = f.label :current_password,   |
        class: "form-label bold",    |
        for: "user_current_password" |
      = f.password_field :current_password, |
        autocomplete: "off",                |
        class: "form-input",                |
        id: "user_current_password"         |
    .form-element
      = f.submit "Update",                   |
        class: "btn submit-btn btn-positive" |
