%section.page.users-registration-page
  %h2.page-title Sign up
  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'form login-form'}) do |f|
    = devise_error_messages!
    .form-element
      = f.label :email,           |
        class: "form-label bold", |
        for: "user_email"         |
      = f.email_field :email,  |
        autofocus: true,       |
        autocomplete: "email", |
        class: "form-input",   |
        id: "user_email"       |
    .form-element
      = f.label :password,        |
        class: "form-label bold", |
        for: "user_password"      |
      = f.password_field :password, |
        autocomplete: "off",        |
        class: "form-input",        |
        id: "user_password"         |
    .form-element
      = f.label :password_confirmation,   |
        class: "form-label bold",         |
        for: "user_password_confirmation" |
      = f.password_field :password_confirmation, |
        autocomplete: "off",                     |
        class: "form-input",                     |
        id: "user_password_confirmation"         |
    .form-element
      = f.submit "Sign up",                  |
        class: "btn submit-btn btn-positive" |
