.goals-list
  +alternating-list

  background: rgba($white, 0.75)
  border: 0.125rem solid $blue

.goal-item
  padding: 1rem

.goal-header
  +spacer-with-border("bottom", 0.5rem, 0.125rem, $blue)

.goal-status
  .info.ahead
    color: $blue

  .info.on-pace
    color: $ignore-color

  .info.behind
    color: $warning-color

  .info.complete
    color: $positive-color

.goal-page .goal
  padding: 1rem
  background: rgba($white, 0.75)
  border: 0.125rem solid $blue

.goal-progress-bar
  +size(10rem, 1rem)

  margin: 0.5rem auto 0
  max-width: calc(100% - 1rem)
  border: 0.0625rem solid $ignore-color
  background-color: $white

.reports-list-wrap
  +space(0 1rem 0.5rem, 0.5rem 0 0)

  border-left: 0.125rem solid $blue

.reports-list
  +alternating-list

  background: rgba($white, 0.75)
  border: 0.125rem solid $blue
  max-height: 10rem
  overflow: auto

  .report
    +inline-flex

    padding: 0

  .reported-date,
  .report-value
    +space(0.25rem 0.5rem, 0 0.5rem 0 0)

  .reported-date
    +inline-flex-item(25%)

    color: rgba($black, 0.5)

  .report-value
    +inline-flex-item(50%, 3)

  .report-actions-wrap
    +inline-flex-item(2rem)
    +inline-flex

  .btn
    display: block

.goal-actions
  margin: 1rem 0 0.5rem

.goal-action
  display: block
  margin: 0 0 0.25rem

.no-goals
  text-align: center
  padding: 1rem
  font-size: 2rem

+breakpoint($phone-down)
  .goal-progress-bar
    width: 20rem

  .reports-list
    +inline-list

    .report
      display: inline-block
      border: 0 !important
      width: auto
      min-width: 5rem
      text-align: center

    .reported-date
      padding: 0.25rem 0.5rem 0

    .reported-value
      padding: 0 0.5rem 0.25rem

    .reported-date,
    .report-value
      margin: 0

    .reported-date,
    .report-value,
    .report-actions-wrap
      display: block
      width: 100%

    .reported-date
      font-size: 0.8rem

    .report-actions-wrap
      +inline-flex

    .btn
      +inline-flex-item(50%)

    .btn-report
      float: right
      height: 5rem

      .btn
        +size(100%, 5rem)

        display: block
        padding-top: 1rem
        font-size: 2rem

  .goal-actions
    +inline-flex

    flex-wrap: wrap

  .goal-action
    +inline-flex-item(45%)

    &:nth-of-type(odd)
      margin: 0 0.5rem 0.5rem 0


+breakpoint($tablet)
  .goal-header
    +inline-flex

  .goal-title
    +inline-flex-item(80%, 4)

  .goal-status
    +inline-flex-item(8rem)

    text-align: center

  .goal-row
    +inline-flex

    .label
      +inline-flex-item(10rem)

      text-align: right
      padding-right: 0.5rem

    .info
      +inline-flex-item(60%, 2)

  .goal-progress-bar
    width: 30rem
    border-width: 0.125rem

  .goal-actions
    flex-wrap: nowrap

  .goal-action
    +inline-flex-item(25%)

    margin: 0

    &:nth-of-type(odd)
      margin: 0

    &:not(:last-of-type)
      margin-right: 0.5rem


+breakpoint($desktop)
  .goal
    display: grid
    grid:
      template:
        rows: auto
        columns: 1fr 10rem
        areas: "header header" "subheader actions" "progress actions" "reports actions"

  .goal-header
    grid-area: header

  .goal-status
    .label,
    .info
      display: block

  .goal-subheader
    grid-area: subheader

  .goal-progress
    grid-area: progress

  .goal-actions
    display: block
    grid-area: actions
    margin: 0

  .goal-action
    display: block
    margin: 0 0 0.5rem
    width: 100%

    &:nth-of-type(odd)
      margin: 0 0 0.5rem

    &:not(:last-of-type)
      margin: 0 0 0.5rem
