.devise-shared-actions
  margin: 0.5rem 0

  .btn
    display: block
    margin: 0 0 0.5rem

.user-level-progress-wrap
  +size(100%, 8rem)
  +space(1rem, 0 0 1rem)

  position: relative

.user-level-badge
  +circle(6rem)

  position: absolute
  top: 1rem
  left: 1rem
  border: 0.25rem solid $white
  padding: 1rem
  box-shadow: $card-shadow
  color: $white
  background: $blue
  z-index: 2
  font:
    size: 3rem
    family: $heading-font
    weight: $bold-weight

.user-level-progress-bar
  +size(calc(100% - 14rem), 1rem)

  position: absolute
  top: 3rem
  left: 8rem
  border: 0.125rem solid rgba($black, 0.5)

.user-level-experience
  position: absolute
  top: 1.25rem
  width: 2rem
  color: rgba($black, 0.5)
  font-size: 0.8rem

.user-next-level
  +size(4rem, 5rem)
  position: absolute
  top: 1.5rem
  right: 1rem
  color: rgba($white, 0.9)
  background: $ignore-color
  border: 0.125rem solid rgba($white, 0.9)
  padding: 0.4rem 0.25rem
  box-shadow: $card-shadow

  .next-level-label
    color: rgba($white, 0.5)
    font-size: 0.8rem

  .next-level-value
    color: $white
    font-size: 1.5rem

  .next-level-experience
    color: rgba($white, 0.9)
    font-size: 0.8rem

+breakpoint($tablet)
  .devise-shared-actions
    +inline-flex

    .btn
      +inline-flex-item(30%)
