%footer.devise-shared-actions
  - if controller_name != 'sessions'
    = link_to raw('<div class="icon-wrap"><i class="fa fa-sign-in-alt icon"></i><span class="icon-label"> Sign in</span></div>'), |
      new_session_path(resource_name),                                                                                            |
      class: "btn login-btn btn-positive center-aligned"                                                                          |
  - if devise_mapping.registerable? && controller_name != 'registrations'
    = link_to raw('<div class="icon-wrap"><i class="fa fa-user-plus icon"></i><span class="icon-label"> Register</span></div>'), |
      new_registration_path(resource_name),                                                                                      |
      class: "btn register-btn center-aligned"                                                                                   |
  - if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
    = link_to raw('<div class="icon-wrap"><i class="fa fa-unlock icon"></i><span class="icon-label"> Forgot your password?</span></div>'), |
      new_password_path(resource_name),                                                                                                    |
      class: "btn forgot-btn btn-warning center-aligned"                                                                                   |
