a
  color: $link-color
  background-color: transparent
  text-decoration: none
  -webkit-text-decoration-skip: objects
  transition:
    property: color
    duration: $fast
    timing-function: $cubic

  &:focus,
  &:hover,
  &:active
    color: darken($link-color, 10%)

  &:active
    background: transparent