pre
  +space(0.5rem 1rem, 0.5rem 0)

  position: relative
  font-family: $mono-font
  border-radius: 0.5rem
  background: rgba($black, 0.05)
  overflow: auto
  -ms-overflow-style: scrollbar

  &:before
    +size(0.5rem, 100%)

    content: ""
    position: absolute
    top: 0
    left: 0
    width: 0.5rem
    height: 100%
    background: rgba($blue, 0.1)
    border-right: 0.0625rem solid rgba($blue, 0.5)
