.site-footer
  position: absolute
  bottom: 0
  left: 0
  width: 100%
  color: rgba($white, 0.75)
  background: $footer-bg
  padding: 1rem

  .footer-icon
    padding: 0 0.125rem

  .heart-icon
    color: $red

  .fork-icon
    color: lighten($green, 10%)

  a
    color: lighten($blue, 10%)

  .version-number
    color: rgba($white, 0.5)
    font-size: 0.6rem
    text-align: right

  +breakpoint($tablet)
    +inline-flex

    .credit
      +inline-flex-item(calc(100% - 6rem), 10)

    .version-number
      +inline-flex-item(5rem)

      font-size: 0.8rem
