.site-header
  +inline-flex

  position: relative
  background: $header-bg
  padding: 1rem

  .title
    margin: 0

.alert
  position: absolute
  top: 0
  left: 10%
  width: 80%
  color: $white
  background: $footer-bg
  padding: 1rem
  border-radius: 0 0 1rem 1rem
  text-align: center
  z-index: 5
  transition:
    property: top
    duration: $fast
    timing-function: $cubic

  &.dismissed
    top: -10rem

.dismiss-alert-btn
  display: block
  margin: 1rem auto -1rem
  border-radius: 0.5rem 0.5rem 0 0

.mobile-menu-toggle
  font-size: 2rem

.site-menu
  +pseudo-list

  position: absolute
  top: -10rem
  left: 0.5rem
  width: calc(100% - 1rem)
  background: rgba($white, 0.9)
  padding: 0.5rem 1rem
  text-align: center
  border: 0.125rem solid $blue
  box-shadow: $card-shadow
  opacity: 0
  transition:
    property: opacity
    duration: $fast
    timing-function: $cubic

  &.open
    top: 4rem
    opacity: 1

+breakpoint($tablet)
  .site-header
    margin: 0 0 1rem

  .alert
    left: 25%
    width: 50%

  .mobile-menu-toggle
    +do-not-show

  .site-menu
    +inline-list

    position: relative
    top: 0
    left: 0
    opacity: 1
    width: auto
    padding: 0
    border: 0
    box-shadow: none
    background: transparent
    text-align: left

  .menu-item
    margin-right: 1rem


+breakpoint($desktop)
  .alert
    left: 30%
    width: 40%
