%section.page.user-profile-page
  %h2.page-title User stats:
  %section.user-level-banner
    %header.user-level-banner-heading
      %h3.user-level-banner-title.title Your Level
    .user-level-progress-wrap.center-aligned
      %div{:class => "user-level-badge level-#{@user.level}"}= @user.level
      .user-level-progress-bar{:style => "background-image:linear-gradient(to right, #00aa2a, #00aa2a #{@user.progress_percentage}, transparent #{@user.progress_percentage}, transparent)"}
        .user-level-experience{:style => "left: calc(#{@user.progress_percentage} - 1rem)"}= @user.experience
      .user-next-level
        .next-level-label.light Next:
        .next-level-value= @user.next_level
        .next-level-experience.bold.small-spacing= @user.next_level_base
  .user-row.total-goals
    %span.label.bold Total Goals:
    %span.info= @user.goal_count
  .user-row.total-reports
    %span.label.bold Total Reports:
    %span.info= @user.reports_count
  .user-row.complete-goals
    %span.label.bold Complete Goals:
    %span.info= @user.complete_goal_count
