%section.page.users-password-change-page
  %h2.page-title Change your password
  = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: 'form password-reset-form' }) do |f|
    = devise_error_messages!
    = f.hidden_field :reset_password_token
    .form-element
      = f.label :password,        |
        "New password",           |
        class: "form-label bold", |
        for: "user_password"      |
      = f.password_field :password, |
        autofocus: true,            |
        autocomplete: "off",        |
        class: "form-input",        |
        id: "user_password"         |
    .form-element
      = f.label :password_confirmation,   |
        "Confirm new password",           |
        class: "form-label bold",         |
        for: "user_password_confirmation" |
      = f.password_field :password_confirmation, |
        autocomplete: "off",                     |
        class: "form-input",                     |
        id: "user_password_confirmation"         |
    .form-element
      = f.submit "Change my password",       |
        class: "btn submit-btn btn-positive" |
  = render "devise/shared/links"
