%section.page.users-forgot-password-page
  %h2.page-title Forgot your password?
  = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'form forgot-password-form' }) do |f|
    = devise_error_messages!
    .form-element
      = f.label :email,           |
        class: "form-label bold", |
        for: "user_email"         |
      = f.email_field :email,  |
        autofocus: true,       |
        autocomplete: "email", |
        class: "form-input",   |
        id: "user_email"       |
    .form-element
      = f.submit "Send me reset password instructions", |
        class: "btn submit-btn btn-positive"            |
  = render "devise/shared/links"
