%section.page.users-edit-page
  %h2.page-title Log in:
  = form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form login-form'}) do |f|
    .form-element
      = f.label :email,           |
        class: "form-label bold", |
        for: "user_email"         |
      = f.email_field :email,  |
        autofocus: true,       |
        autocomplete: "email", |
        class: "form-input",   |
        id: "user_email"       |
    .form-element
      = f.label :password,        |
        class: "form-label bold", |
        for: "user_password"      |
      = f.password_field :password, |
        autocomplete: "off",        |
        class: "form-input",        |
        id: "user_password"         |
    - if devise_mapping.rememberable?
      .form-element
        = f.check_box :remember_me, id: "remember_user"
        = f.label :remember_me,     |
          class: "form-label bold", |
          id: "remember_user"       |
    .form-element
      = f.submit "Sign in",                  |
        class: "btn submit-btn btn-positive" |
  = render "devise/shared/links"
