@import ./vars
@import ./extends

.btn
  @extend %btn-reset
  color: rgba($white, 0.9)
  background-color: $btn-color
  padding: 0.5em
  transition:
    property: color, background-color
    duration: $fast
    timing-function: $cubic

  &:focus,
  &:hover,
  &:active
    color: $white
    background-color: darken($btn-color, 10%)
