@import ./vars
@import ./extends

.btn-border
  @extend %btn-with-border
  background-color: $white
  transition:
    property: background-color
    duration: $fast
    timing-function: $cubic

  &:hover,
  &:focus,
  &:active
    background-color: rgba($black, .01)

  &.btn-negative
    color: $negative-color
    border-color: $negative-color

  &.btn-warning
    color: $warning-color
    border-color: $warning-color

  &.btn-positive
    color: $positive-color
    border-color: $positive-color

  &.btn-ignore
    color: $ignore-color
    border-color: $ignore-color

.btn-border-thin
  border-width: $thin-border

.btn-border-thick
  border-width: $thick-border

.btn-inverse
  @extend %btn-with-border
  background-color: transparent
  transition:
    property: color, background-color
    duration: $fast
    timing-function: $cubic

  &:hover,
  &:focus,
  &:active
    color: $white
    background-color: $btn-color

  &.btn-negative
    color: $negative-color
    border-color: $negative-color

    &:focus,
    &:hover,
    &:active
      color: $white
      background-color: darken($negative-color, 10%)

  &.btn-warning
    color: $warning-color
    border-color: $warning-color

    &:focus,
    &:hover,
    &:active
      color: $white
      background-color: darken($warning-color, 10%)

  &.btn-positive
    color: $positive-color
    border-color: $positive-color

    &:focus,
    &:hover,
    &:active
      color: $white
      background-color: darken($positive-color, 10%)

  &.btn-ignore
    color: $ignore-color
    border-color: $ignore-color

    &:focus,
    &:hover,
    &:active
      color: $white
      background-color: darken($ignore-color, 10%)