.form
  .form-error-list
    border: 0.125rem solid $warning-color
    padding: 0.5rem 0.5rem 0.5rem 2rem
  
  .form-element
    margin: 0 0 0.5rem

  .form-label,
  .form-input
    display: block
    width: 100%

  .form-label
    +space(0 0.25rem, 0 0 0.5rem)
    
    text-align: center

  .form-input
    transition:
      property: box-shadow
      duration: $fast
      timing-function: $cubic

    &:focus
      box-shadow: 0 0 0 0.125rem lighten($blue, 10%)

  .field_with_errors
    background: rgba($negative-color, 0.1)

  +breakpoint($tablet)
    .form-label
      text-align: left
      margin: 0

  +breakpoint($desktop)
    .form-element
      +inline-flex

    .form-label,
    .field_with_errors:first-of-type
      +inline-flex-item(8rem)

    .form-input,
    .field_with_errors:nth-of-type(2)
      +inline-flex-item(80%, 4)

    .field_with_errors .form-label,
    .field_with_errors .form-input
      width: 100%
