= form_with model: @goal, class: 'form goal-form', local: true do |f|
  - if @goal.errors.any?
    #error_explanation
      %h4.negative-color.heading-margin-small
        = pluralize(@goal.errors.count, "error")
        prohibited this goal from being saved:
      %ul.form-error-list
        - @goal.errors.full_messages.each do |msg|
          %li.form-error= msg
  .form-element
    = f.label :title, class: "form-label bold", for: "goal_title"
    = f.text_area :title, class: "form-input", id: "goal_title"
  .form-element
    = f.label :value, class: "form-label bold", for: "goal_value"
    = f.number_field :value, class: "form-input", id: "goal_value"
  .form-element
    = f.label :unit, class: "form-label bold", for: "goal_unit"
    = f.text_field :unit, class: "form-input", id: "goal_unit"
  .form-element
    = f.label :end_date, class: "form-label bold", for: "goal_end_date"
    = f.date_field :end_date, class: "form-input", id: "goal_end_date", min: Date.today
  .form-element
    = f.submit "Let's get started!", class: "btn submit-btn btn-positive"
