%body
  %section.page.goal-page
    %h2.page-title Goal:
    %article.goal
      %header.goal-header
        %h3.goal-title.heading-margin-none= @goal.full_sentence_output
        .goal-status
          %span.label.bold Status:
          %span{:class => "info #{@goal.status_class}"}= @goal.status
      - if @goal.end_date && !@goal.complete?
        .goal-subheader
          .goal-row.days-left
            %span.label.bold Days left:
            %span.info= number_with_delimiter(@goal.days_left)
          - if @goal.days_taken > 0
            .goal-row.days-taken
              %span.label.bold Days taken:
              %span.info= number_with_delimiter(@goal.days_taken)
            .goal-row.pace
              %span.label.bold Pace:
              %span.info= @goal.pace_output
            .goal-row.estimated-end-date
              %span.label.bold Estimated end date:
              %span.info= DateOutput.date_output(@goal.estimated_end_date)
      - if @goal.report_ids
        - if !@goal.complete?
          .progress
            .goal-row.total-progress
              %span.label.bold Total progress:
              %span.info= @goal.total_progress
            .goal-row.percent-complete
              %span.label.bold Percent complete:
              %span.info= @goal.progress_percentage
            .goal-progress-bar{:style => "background-image:linear-gradient(to right, #00aa2a, #00aa2a #{@goal.progress_percentage}, transparent #{@goal.progress_percentage}, transparent)"}
        - if @goal.report_ids.length > 0
          .reports-list-wrap
            %h4 Reports:
            %ul.reports-list
              - @goal.report_ids.each do |report_id|
                - @report = Report.find(report_id)
                %li.report
                  .reported-date.light= DateOutput.date_output(@report.reported_date)
                  .report-value
                    = number_with_delimiter(@report.value)
                    = @goal.unit
                  .report-actions-wrap
                    = link_to raw('<i class="fa fa-edit btn-icon"></i>'), |
                      edit_report_path(report_id),                        |
                      class: "btn edit-btn btn-warning"
                    = link_to raw('<i class="fa fa-trash btn-icon"></i>'),              |
                      report_path(report_id),                                           |
                      class: "btn delete-btn btn-negative",                             |
                      method: :delete,                                                  |
                      data: { confirm: 'Are you sure you want to delete this report?' }
              - if !@goal.complete?
                %li.report.center-aligned.btn-report
                  = link_to raw('<i class="fa fa-plus btn-icon"></i>'), |
                    new_report_path({ preselected_goal_id: @goal.id }), |
                    class: "btn new-btn btn-positive"
            - if @goal.report_ids.length > 1
              = line_chart @goal.chart_data, @goal.chart_options
      .goal-actions.actions
        - if !@goal.complete?
          = link_to raw('<div class="icon-wrap"><i class="fa fa-plus icon"></i><span class="icon-label"> Add Report</span></div>'), |
            new_report_path({ preselected_goal_id: @goal.id }),                                                                     |
            class: "goal-action btn btn-round btn-wide btn-medium center-aligned btn-positive"
          = link_to raw('<div class="icon-wrap"><i class="fa fa-pencil icon"></i><span class="icon-label"> Edit</span></div>'), |
            edit_goal_path(@goal.id),                                                                                           |
            class: "goal-action btn btn-round btn-wide btn-medium center-aligned btn-warning"
        = link_to raw('<div class="icon-wrap"><i class="fa fa-trash icon"></i><span class="icon-label"> Delete</span></div>'), |
          goal_path(@goal),                                                                                                    |
          class: "goal-action btn btn-round btn-wide btn-medium center-aligned btn-negative",                                  |
          method: :delete,                                                                                                     |
          data: { confirm: 'Are you sure?' }
