@import ./vars

.body-color
  color: $body-color

.heading-color
  color: $heading-color

.negative-color
  color: $negative-color

.warning-color
  color: $warning-color

.positive-color
  color: $positive-color

.ignore-color
  color: $ignore-color

.disabled-color
  color: $disabled-color