@import ./vars

.inverted-spacing
  letter-spacing: $inverted-spacing

.default-spacing
  letter-spacing: $default-spacing

.small-spacing
  letter-spacing: $small-spacing

.medium-spacing
  letter-spacing: $medium-spacing

.large-spacing
  letter-spacing: $large-spacing

.inverted-word-spacing
  word-spacing: $inverted-spacing

.default-word-spacing
  word-spacing: $default-spacing

.small-word-spacing
  word-spacing: $small-spacing

.medium-word-spacing
  word-spacing: $medium-spacing

.large-word-spacing
  word-spacing: $large-spacing