= form_with model: @report, class: 'form report-form', local: true do |f|
  - if @report.errors.any?
    #error_explanation
      %h4.negative-color.heading-margin-small
        = pluralize(@goal.errors.count, "error")
        prohibited this goal from being saved:
      %ul.form-error-list
        - @report.errors.full_messages.each do |msg|
          %li.form-error= msg
  - if @goals
    .form-element
      = f.label :goal_id, class: "form-label bold", for: "report_goal_id"
      = f.select :goal_id,                                 |
        @goals.map { |g| [g.full_sentence_output, g.id] }, |
        { selected: params[:preselected_goal_id] },        |
        class: "form-input",                               |
        id: "report_goal_id"
    .form-element
      = f.label :reported_date, class: "form-label bold", for: "report_reported_date"
      = f.date_field :reported_date, class: "form-input", id: "report_reported_date", value: Date.today
    .form-element
      = f.label :value, class: "form-label bold", for: "report_value"
      = f.number_field :value, class: "form-input", id: "report_value"
    .form-element
      = f.label :note, class: "form-label bold", for: "report_note"
      = f.text_area :note, class: "form-input", id: "report_note"
    .form-element
      = f.submit "There's a little bit more!", class: "btn submit-btn btn-positive"
  - else
    .no-goals
      Start by #{link_to 'adding a goal', new_goal_path}.
