%footer.site-footer
  .credit
    Made with
    %i.fa.fa-heart.footer-icon.heart-icon
    by
    = succeed "." do
      %a{:href => "http://danieljauch.com/"} Daniel Jauch
    %a{:href => "https://bitbucket.org/danieljauch/a-little-bit-more/src/master/"} check out the code
    and
    %i.fa.fa-code-fork.footer-icon.fork-icon
    it for yourself.
  .version-number
    v. #{ALittleBitMore::Application::VERSION}
