%header.site-header
  %h1.title
    = link_to 'A Little Bit More', root_path
  - if notice
    .alert.alert-success
      .alter-message= notice
      %button.btn.dismiss-alert-btn.btn-wide.btn-medium.btn-warning
        %i.fa.fa-chevron-up.dismiss-alert-btn-icon
        %span.dismiss-alert-btn-message Dismiss
  - if alert
    .alert.alert-danger
      .alter-message= alert
      %button.btn.dismiss-alert-btn.btn-wide.btn-medium.btn-warning
        %i.fa.fa-chevron-up.dismiss-alert-btn-icon
        %span.dismiss-alert-btn-message Dismiss
  %nav.site-nav
    .mobile-menu-toggle
      %i.fa.fa-bars.mobile-menu-icon
    %ul.menu.site-menu
      - if user_signed_in?
        %li.menu-item
          = link_to 'New Goal', new_goal_path, class: 'menu-link'
        %li.menu-item
          = link_to 'New Report', new_report_path, class: 'menu-link'
        %li.menu-item
          = link_to 'See my progress', goals_path, class: 'menu-link'
        %li.menu-item
          = link_to 'My profile', '/profile', class: 'menu-link'
        %li.menu-item
          = link_to 'Sign out', destroy_user_session_path, method: :delete
      - else
        %li.menu-item
          = link_to 'Sign in', new_user_session_path, class: 'menu-link'
        %li.menu-item
          = link_to 'Register', new_user_registration_path, class: 'menu-link'
